<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991496673915-b858cf5allabph7iv45n48njmt7fg2f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991496673915-b858cf5allabph7iv45n48njmt7fg2f2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>991496673915-793osgpvpk0kprk3fhb0nst3gkdknieo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDk3eNUshwGBzbjygKoKu9unxyn0Pa2Hh8</string>
	<key>GCM_SENDER_ID</key>
	<string>991496673915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamorbit.devicetrack</string>
	<key>PROJECT_ID</key>
	<string>final-app-afe24</string>
	<key>STORAGE_BUCKET</key>
	<string>final-app-afe24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991496673915:ios:d445fc74d2c35157e7e0de</string>
	<key>DATABASE_URL</key>
	<string>https://final-app-afe24.firebaseio.com</string>
</dict>
</plist>